@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "Roboto";
    src: url("../../public/Roboto-Regular.ttf");
    font-display: swap;
}

@theme {
    --font-roboto: "Roboto";

    --color-milky: #e1dfdf;
    --color-shimmer: #f6f6f6;
    --color-dark-shimmer: #514e51;

    --breakpoint-xs: 31rem;
    --breakpoint-from-350: 350px;
    --breakpoint-from-400: 400px;
    --breakpoint-from-500: 500px;
}

/*
 --------------------------- CSS Reset ---------------------------
*/
input {
    outline: none;
}

/*
 --------------------------- Helper Classes ---------------------------
*/
.fit-important {
    width: fit-content !important;
}

/* اندازه‌ی اسکـرولبار */
.custom-scroll::-webkit-scrollbar {
    width: 3px;
    height: 10px;
}

.transition {
    transition: all ease-in-out 150ms;
}

/* پس‌زمینه‌ی ریل (track) */
.custom-scroll::-webkit-scrollbar-track {
    background:  white;
}

.dark .custom-scroll::-webkit-scrollbar-track {
    background:  var(--color-zinc-700);
}

/* خودِ دکمه‌ی اسکرول (thumb) */
.custom-scroll::-webkit-scrollbar-thumb {
    background: var(--color-orange-400); /* نارنجی */
    border-radius: 2rem; /* گرد */
}

/* *-*-*-*-*-*-*-*-*-*-*- Custom Scroll Horizontal -*-*-*-*-*-*-*-*-*-*-*- */
.custom-scroll-horizontal::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}
.custom-scroll-horizontal::-webkit-scrollbar-track {
    background: white;
}
.dark .custom-scroll-horizontal::-webkit-scrollbar-track {
    background: var(--color-zinc-700);
}
.custom-scroll-horizontal::-webkit-scrollbar-thumb {
    background: var(--color-orange-400);
    border-radius: 2rem;
}

/*
 --------------------------- Helper Classes ---------------------------
*/.shimmer-animation {
      position: relative;
      overflow: hidden;
      background-color: #e0e0e0; /* رنگ پایه اسکلتون */
  }

.shimmer-animation::after {
    content: "";
    position: absolute;
    top: 0;
    left: -50%; /* شروع از خارج چپ */
    width: 50%; /* پهنای نوار */
    height: 100%;
    background: linear-gradient(
            to right,
            transparent 0%,
            white 50%,
            transparent 100%
    );
    animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(200%);
    }
}

/* حالت تاریک */
.dark .shimmer-animation {
    background-color: #333;
}

.dark .shimmer-animation::after {
    background: linear-gradient(
            to right,
            transparent 0%,
            rgba(255, 255, 255, 0.2) 50%,
            transparent 100%
    );
}


.box-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dark .box-shadow {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.box-shadow-small {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.dark .box-shadow-small {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}

.big-z-index {
    z-index: 999;
}

/*
 --------------------------- Container ---------------------------
*/
.container {
    margin: 0 auto;
}

/*
 --------------------------- Custom Rechart ---------------------------
*/
.recharts-surface {
    overflow: visible;
}

/*
 --------------------------- Button Reset ---------------------------
*/
button:focus {
    outline: none;
}

/* --------------------------- CSS Reset ----------------------------- */
/* Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border: none;
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important; /* رنگ پس‌زمینه رو سفید کن */
    -webkit-text-fill-color: black !important; /* رنگ متن */
    caret-color: black; /* رنگ کرسر */
}

.dark input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--color-zinc-700) inset !important; /* رنگ پس‌زمینه رو سفید کن */
    -webkit-text-fill-color: white !important; /* رنگ متن */
    caret-color: white; /* رنگ کرسر */
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: black !important;
}

.dark input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--color-zinc-700) inset !important;
    -webkit-text-fill-color: white !important;
}


/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


#root {
    font-family: var(--font-roboto), sans-serif;
    height: 100vh;
}

body {
    background-color: var(--color-milky);
}

.dark body {
    background-color: var(--color-zinc-900);
}

.placeholder-top {
    background-color: white;
    font-size: var(--text-sm);
    bottom: unset;
    top: -16px !important;
    left: 3px !important;
}

.dark .placeholder-top {
    background-color: var(--color-zinc-700);
}

.text-shadow {
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.dark .text-shadow {
    text-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
}

/* *-*-*-*-*-*-*-* CSS Animations *-*-*-*-*-*-*-* */
.animation-opacity {
    animation: animation-opacity 1s infinite linear;
}

@keyframes animation-opacity {
    from {
        background: blueviolet !important;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}