@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "Roboto";
    src: url("../../public/Roboto-Regular.ttf");
    font-display: swap;
}

@theme {
    --font-roboto: "Roboto";

    --color-milky: #e1dfdf;

    --breakpoint-xs: 31rem;
}

/*
 --------------------------- Button Reset ---------------------------
*/
button:focus {
    outline: none;
}

/* --------------------------- CSS Reset ----------------------------- */
/* Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border: none;
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important; /* رنگ پس‌زمینه رو سفید کن */
    -webkit-text-fill-color: black !important; /* رنگ متن */
    caret-color: black; /* رنگ کرسر */
}

.dark input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--color-zinc-700) inset !important; /* رنگ پس‌زمینه رو سفید کن */
    -webkit-text-fill-color: white !important; /* رنگ متن */
    caret-color: white; /* رنگ کرسر */
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: black !important;
}

.dark input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--color-zinc-700) inset !important;
    -webkit-text-fill-color: white !important;
}


/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


#root {
    font-family: var(--font-roboto), sans-serif;
    height: 100vh;
    background-color: var(--color-background-light);
}

body {
    background-color: var(--color-milky);
}

.dark body {
    background-color: var(--color-zinc-900);
}

.placeholder-top {
    background-color: white;
    font-size: var(--text-sm);
    bottom: unset;
    top: -16px !important;
    left: 3px !important;
}

.dark .placeholder-top {
    background-color: var(--color-zinc-700);
}

.text-shadow {
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}